<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="navbar-text float-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search Orders</a></li>
      <li><a href="/parcels">Parcels</a></li>
      <li><a href="/users">Manage Users</a></li>
      <li><a href="/service_types">Service Types</a></li>
    </ul>

    <%= yield %>

    <h1>Download Report : List of users and couriers</h1>
    <%= link_to 'Download as .xlsx', reports_index_path(format: :xlsx) %>
  </body>
</html>
